.checkout {

    h2.checkout__title {
        font-size: 2rem;
        margin: 20px;
    }

    p.checkout__text {
        font-weight: 300;
        margin: 0 20px 20px;
    }

    img.checkout__ad {
        width: 100%;
        margin-bottom: 10px;
    }
    
}