.checkout {
    display: flex;
    padding: 64px 20px 0;
    background-color: #fff;
    height: max-content;

    .checkout__left {
        width: 70vw;
    }

    h2.checkout__title {
        border-bottom: 1px solid lightgray;
        font-size: 2rem;
        margin-right: 10px;
        padding: 10px;
    }

    p.checkout__text {
        font-weight: 300;
        margin: 0 20px 20px;
    }

    img.checkout_ad {
        width: 70vw;
        margin-bottom: 10px;
    }
}
