.subtotal {
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 16px;
    padding: 20px;
    width: 300px;

    p.subtotal__text {
        margin-bottom: 6px;
    }

    small.subtotal__gift {
        display: flex;
        align-items: center;
    }

    input[type="checkbox"] {
        margin-right: 6px;
    }

    > button {
        background-color: #f0c14c;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        cursor: pointer;
        margin: 20px;
        padding: 12px;

        &:hover {
            background-color: #f7b30a;
        }

        > strong {
            font-weight: 500;
        }
    }
}
