.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    .home__row {
        display: flex;
        justify-content: space-evenly;
        margin-left: 6px;
        margin-right: 6px;
        z-index: 1;
    }

    .home__image {
        width: 100%;
        mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.1)
        );
        z-index: -3;
        margin-bottom: -150px;
    }
}
